<ion-item *ngIf="postNotification" [detail]="false" (click)="openReddit(postNotification.postLink)">
  <div slot="start" [class]="!postNotification.read ? 'dot dot-unread' : 'dot'"></div>
  <ion-label class="ion-text-wrap">
    <h2>
      {{ postNotification.subreddit }}
      <span class="date">
        <ion-note>{{ postNotification.date }}</ion-note>
        <ion-icon name="chevron-forward" size="small" *ngIf="isIos()"></ion-icon>
      </span>
    </h2>
    <h3>{{ postNotification.whatFilterMatched }}</h3>
    <p>
      {{ postNotification.text }}    </p>
  </ion-label>
  </ion-item>
